/* Background */
.aurora-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* El -1 asegura que se quede detrás de todo el contenido de tu web */
    overflow: hidden;
    background-color: #050505;
}

/* Propiedades compartidas por todas las luces */
.aurora-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.6;
    animation: floatAurora 20s infinite alternate ease-in-out;
}

/* Luz 1 */
.blob-1 {
    top: -10%;
    left: -10%;
    width: 50vw;
    height: 50vw;
    background-color: #646cff;
    animation-delay: 0s;
}

/* Luz 2 */
.blob-2 {
    bottom: -20%;
    right: -10%;
    width: 60vw;
    height: 60vw;
    background-color: #9d4edd;
    animation-delay: -5s;
}

/* Luz 3 */
.blob-3 {
    top: 30%;
    left: 40%;
    width: 40vw;
    height: 40vw;
    background-color: #3a0ca3;
    animation-delay: -10s;
}

/* Animacion */
@keyframes floatAurora {
    0% {
        transform: translate(0, 0) scale(1);
    }

    33% {
        transform: translate(5vw, -5vh) scale(1.1);
    }

    66% {
        transform: translate(-5vw, 5vh) scale(0.9);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}